<!DOCTYPE html>
<html>
  <head>
    <title>Alunos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Alunos</h1>

      <table border="1">
        <tr>
          <th> Nome </th>
          <th> Email </th> 
          <th> Curso </th>
        </tr>
        <% docs.forEach(function(customer){ %>

          <tr>
            <th><%= customer.nome %></th>
            <th><%= customer.email %></th> 
            <th><%= customer.curso %></th>
            <th>
              <a href="/delete/<%= customer._id %>" onclick="return confirm('Tem certeza que deseja excluir?');"> X </a>
            </th>
            <th>Edit</th>
          </tr>

      <% }) %>
    </table>
  </body>
</html>