<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  </head>
  <body class="container-login">

    <div class="container-fluid">
      
      <div class="login">
        <center>
          <h1>Login</h1>

          <form action="/login" method="POST">
            <div class="form-group mx-sm-3 mb-2">

              <input type="email" name="username" class="form-control" id="email" placeholder="Enter email"><br>

              <input type="password" name="password" class="form-control" id="password" placeholder="Enter password"><br>
    
              <button type="submit" class="btn btn-success">Login</button>
              
              <a href="/users/forgot">Esqueceu sua senha?</a><br> 
            </div>
          </form>

          <br>
          
          <% if(message) { %>
              <label class="alert alert-danger" role="alert">
                <%= message %>
              </label>
          <%}%>
          <hr>
          <a href="/users/signup">Não possui cadastro?</a>
        </center>
      </div>

    </div>
  
  </body>
</html>